
@font-face {
    font-family: mainFont;
    src: url(fonts/Glancyr\ Variable-VF.ttf);
}
a {
    text-decoration: none;
    color: var(--text-color);
}

p {
    margin: 0;
    margin-bottom: 4px;
    font-size: 16px;
}
h3 {
    margin: 0;
    margin-bottom: 20px;
    margin-top: 10px;
}

select {
    padding: 10px;
    border-radius: 5px;
    background-color: #1e1e1e;
    color: #fff;
    border: 2px solid #5d5d5d;
    width: 300px;
}

.promocontainer {
    display: flex;    
    flex-direction: column;
    justify-content: center;    
    align-items: start;    
    width: 100%;
    height: 450px; 
    background-image: url('/assets/images/PromoImage.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    border-radius: 10px;
}

/* Enhancing the radio buttons and checkboxes with custom styling */
input[type="radio"], input[type="checkbox"] {
    accent-color: #4e54c8;
}
.pricediv {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

:root {
    --main-font: 'mainFont', sans-serif;
    --background-color: #1e1f20;
    --text-color: aliceblue; 
    --border-radius: 10px;
}

.bodyMain {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: var(--background-color);
    font-family: mainFont;
    color: var(--text-color);
}

.leftContent {   
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: start;
    width: 50%;
    height: 100%;
    padding: 25px;
}

.rightContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;

}

.leftContent1 {   
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: start;
    width: 100%;
    height: 100%;
    padding: 25px;
    padding-left: 10%;
    padding-right: 10%;
}

.rightContent1 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    height: 100%;

}

.tripSingleItem { 
    display: flex;
    width: 100%;
    height: 65vh;
    flex-direction: row;
    justify-content: space-evenly; 
    align-items: center;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 45px;
    padding-bottom: 45px;
}

.heroFinderDiv {   
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    max-width: 100%;
}
.heroResultsDiv {
    display: none;
    justify-content: center;
    flex-direction: column;
    align-items: start;
    width: 100%;
    height: 100%;
}

.imageitem {
    width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0px 15px 15px 0px rgba(0,0,0,0.2) ;
    
}

.sectionTitle {
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 20px;
    width: 100%;
}


.sectionDescription{
    font-size: 1rem;
    font-weight: 200;
    line-height: 25px;
    margin-bottom: 20px;
    width: 70%;
    text-align: start;
}

.buttonLight {
    background-color: #f0f0f0; 
    color: #000; 
    padding: 15px 30px;
    border: none; 
    border-radius: 10px; 
    font-size: 16px; 
    font-weight: normal; 
    text-align: center; 
    text-decoration: none; 
    display: inline-block; 
    margin: 4px 10px; 
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s; 
    box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.2);
}
.buttonDark {
    background-color: transparent; 
    color: #ffffff; 
    padding: 15px 30px;
    border: solid 1px #ffffff; 
    border-radius: 10px; 
    font-size: 16px; 
    font-weight: normal;
    text-align: center; 
    text-decoration: none; 
    display: inline-block; 
    margin: 4px 10px; 
    cursor: pointer; 
    transition: background-color 0.3s, color 0.3s; 
    box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.2); 
}
.buttonLight:hover {
    background-color: #e0e0e0; 
    color: #333; 
}
.navCont {

    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;    
    align-items: center;        
    padding-left: 17%;
    padding-right: 17%;
    position: sticky;
    top: 0;
    z-index: 100;

}

.navBar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 5px;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px); 
    position:relative;
    border-radius: var(--border-radius);
    border: #f0f0f0 solid 1px;
    top: 10px;
    left: 0;
    z-index: 10px;
}
.navList { 
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    column-gap: 15px;
    margin: 0;
    padding: 0;
    width: 80%;


}
.logo{
    
    width: 15%;
    height: auto;
}
.navItem {
    font-size: 1rem;
    font-weight: 500;
    margin-left: 20px;
    margin-right: 20px;
    cursor: pointer;
    transition: color 0.3s;
    color: var(--text-color);
    text-decoration: none;
}


.departureDates {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.price {

    color: aquamarine;
}

.footer {
    background-color: #000;
    color: #fff;
    padding: 20px 0;
    width: 100%;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 17%;
}

.footer-logo img {
    width: 80%;
    height: auto;
}

.footer-links a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
}

.footer-social a img {
    width: 20px;
    margin: 0 10px;
}

.footericonlinks  {
    width: 20px;
    margin-right: 10px;
}

.heroSection {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 5rem;
    width: 100%;
    height: 250vh;
    padding: 5%;
    padding-left: 17%;
    padding-right: 17%;
}

.finderNavigation {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}



.navItems {
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: end;


}

.finderSection {
    display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 1rem;
width: 100%;
height: 100%;
padding-top: 5%;
padding-left: 17%;
padding-right: 17%;
padding-bottom: 3%;
background: url('/assets/images/heroImage.png'), linear-gradient(to right, #000000, #363636, #131313);
background-size: cover; /* ensures the image covers the entire element */
background-position: center; /* centers the background image */
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);

}


.heroText {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.435);
    backdrop-filter: blur(5px);
    border: #f0f0f0 solid 1px;

    
}
.heroText1 {
    width: 800px;
    height: 515px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.435);
    backdrop-filter: blur(5px);
    padding: 25px;
    border: #f0f0f0 solid 1px;
    
    
}

.registrationSection {
    font-family: var(--main-font);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: #0f3947;
    color: #fff;
    margin-top: -100px;
    
}
 
.formCont {
  
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 300px;
    height: 525px;
    border-radius: 10px;
    padding: 25px;
    background-color: rgba(25, 25, 25, 0.971);
    backdrop-filter: blur(5px);
    border: #f0f0f0 solid 1px;
    box-shadow: 0px 24px 28px 0px rgba(0,0,0,0.2); 
 

}
.formCont1 {
  
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 300px;
    height: 350px;
    border-radius: 10px;
    padding: 25px;
    background-color: rgba(25, 25, 25, 0.971);
    backdrop-filter: blur(5px);
    border: #f0f0f0 solid 1px;
    box-shadow: 0px 24px 28px 0px rgba(0,0,0,0.2); 
 

}

.regRight {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40%;
    height: auto;
    padding: 25px;
    margin: 20px;
   
}

.regLeft {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60%;
    height: 100%;
    border-radius: 10px;
    background-image: url('/assets/images/RegLeft.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    padding-left: 10%;
    padding-right: 10%;
    box-shadow: 0px 24px 28px 0px rgb(0, 0, 0);
}

.regLeft1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60%;
    height: 100%;
    border-radius: 10px;
    background-image: url('/assets/images/LoginLeft.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    padding-left: 10%;
    padding-right: 10%;
    box-shadow: 0px 24px 28px 0px rgba(0,0,0,0.2); 

}

.regLeft1::before {
    content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 10px; /* Same as the container */
  background: rgba(0, 0, 0, 0.847); /* Adjust the alpha for darkness */
  background: linear-gradient(
    to bottom, 
    rgba(0, 0, 0, 0.47) 0%, 
    rgba(0, 0, 0, 0.9) 100%
  ); /* Gradient from transparent to darker */
  z-index: 0;
  box-shadow: 0px 24px 28px 0px rgba(0,0,0,0.2); 


}

.regLeft::before {
    content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 10px; /* Same as the container */
  background: rgba(0, 0, 0, 0.847); /* Adjust the alpha for darkness */
  background: linear-gradient(
    to bottom, 
    rgba(0, 0, 0, 0.47) 0%, 
    rgba(0, 0, 0, 0.9) 100%
  ); /* Gradient from transparent to darker */
  z-index: 0;
  box-shadow: 0px 24px 28px 0px rgba(0,0,0,0.2); 

}

.regImage {
width: 100%;;
height: auto;   
}

.inputLabel {
    
    display: flex;  
    flex-direction: column;
    justify-content: center;
    align-items: start;
    width: 100%;
    height: auto;
    font-size: 1rem;
    font-weight: 500;
    color: #fff;
}
.regText {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    font-size: 2.3rem;
    width: 100%;
    z-index: 1;
   
}

.inputBar {
  
    background: transparent;
    border-radius: 10px;
    color: #fff;
    padding-left: 18px;
    padding-top: 18px;
    padding-bottom: 18px;
    padding-right: 18px;
    width: 80%;
    border: solid 1px #ffffff  ;    
    
    

}

.finderButtonDiv {
 
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; 
    margin-top: -15px;

}

#space-flight-finder {
    position: relative;
    display: flex;
    grid-column-gap: 0.25rem;
    column-gap: 0.25rem;
    flex-wrap: wrap;
    justify-content: space-between;
    border-radius: 10px;

    
}

#space-flight-finder input[type="text"], #space-flight-finder input[type="date"] {
    padding: 20px;
    border: 2px solid #5d5d5d;
    border-radius: 5px;
    background-color: #1e1e1e;
    color: #fff;
    width: 120px;
    
}

#space-flight-finder input::placeholder {
    color: #bbb;
}

#space-flight-finder input[type="date"] {
    color: #ddd;
}

#space-flight-finder button {
    background-color: #0B3D91;
    color: white;
    border: 2px solid #ffffff;
    padding: 15px 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 100%;
}

#space-flight-finder button:hover {
    background-color: white;
    color: #000;
}

.trip-type, .accommodations {
    display: flex;
    gap: 10px;
    color: #fff;
    padding: 5px;
    width: 100%;
}

.trip-type label, .accommodations label {
    display: flex;
    align-items: center;
    gap: 5px;
}



.grid-container {
    width: 100%;
    display: grid;
    gap: 2rem;
    grid-template-columns: auto auto auto;
    
  }
  
  .grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 2px;
    font-size: 20px;
    text-align: start;
    color: #000;
    border-radius: 10px;
    width: 99%;
  }

  .tripCategories {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 40px;
    padding: 10px;
    width: 100%;

  }
  .grid-item1 {
    background-color: #0B3D91;
    border: 1px solid rgba(0, 0, 0, 0.8);
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    font-size: 1.1em;
     font-weight: 200; 
     display: flex; 
     justify-content: center;
      align-items: center;
      line-height: 25px;
  }

  .tripContentItem {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    width: 90%;
    padding-bottom: 5px;
    padding-left: 10px;


  }